@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Quer saber quanto rende o seu bolso hoje? Aqui você sabe em tempo real! </h1>
    <p>Saiba agora o valor real da sua conversão e evite as taxas surpresas </p>
</div>
