@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Seja bem vindo a YASAKI</h1>
    <p>Este site foi criado único e exclusivamente como um teste <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
